.CorralSpace {
  border: 0.075rem solid green;
  border-radius: 1rem;
  width: 9.5rem;
  aspect-ratio: 1;

  padding: 0.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
