.CorralSpace {
    background-color: hsl(210, 51%, 35%);
    width: 6rem;
    aspect-ratio: 1;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  