.Home {
  background-color: beige;
  margin-inline: auto;
  padding: 1rem;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.Home input {
  width: 3rem;
  text-align: center;
  /* opacity: 50%; */
}

.Home button {
  padding: .1rem;
}