.Home {
  /* background-color: beige; */
  /* margin-inline: auto; */
  /* padding: 1rem; */
  /* max-width: 20rem; */

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 1rem; */
}

.Home span {
  display: inline-block;
  background-color: aliceblue;
  transform: scale(-1, 1);

  font-size: 4rem;
}

.Home form + span {
  transform: scale(1, 1);
}

.Home form {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 0.5rem; */
}

.Home input {
  /* width: 3rem; */
  /* text-align: center; */
}

.Home button {
  /* padding: .1rem; */
}
