.Home {
  width: 90%;
  max-width: 45ch;
  margin-inline: auto;
  
  font-size: 1.25rem;
  /* outline: 1px solid green; */
}

.Home div {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Home span {
  transform: scale(-1, 1);
  font-size: 6rem;
}

.Home form + span {
  transform: scale(1, 1);
}

.Home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.Home input {
  border-radius: .25rem;
  background-color: hsl(0, 0%, 95%);
  width: 4rem;
  padding: 0.1rem 0.25rem;
  font-size: 1.75rem;
}

.Home button {
  border-radius: .25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}
