.Corral div {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  width: 20rem;
  outline: 1px solid yellow;
}

.Corral div + div {
  margin-block: 1rem;
}

.Corral ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  margin: auto;
  gap: 1rem;
  /* outline: 1px solid black; */
}

.Corral button {
  border-radius: .25rem;
  /* margin-left: 1rem; */
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}


.Corral a {
  /* border: 1px solid blue; */
  /* background-color: blue; */
  /* border-radius: 5px; */
  /* padding: 0.25rem 0.5rem; */
  /* color: yellow; */
  /* transition: 500ms; */
}

.Corral a:hover {
  /* background-color: transparent; */
  /* color: black; */
}
