.Corral {
  background-color: orange;
  border: 1rem solid lightblue;

  padding: 1rem;
}

.Corral div {
  margin-block: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
