.Corral {
  background-color: orange;
  border: 1rem solid lightblue;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Corral section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  /* border: 1px dashed blue; */
}

.Corral section > div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  /* border: 3px dotted yellow; */
}

.Corral button {
  border-radius: 5px;
  padding: .25rem .5rem;
}

.Corral a {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 5px;
  padding: .25rem .5rem;
  color: yellow;
  transition: 500ms;
}

.Corral a:hover {
  background-color: transparent;
  color: black;
}