*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: hsl(300, 100%, 25%);
  text-decoration: none;
}

a:hover {
  color: hsl(300, 100%, 20%);
  text-decoration: underline;
}

li {
  list-style-type: none;
}
